# -------------------------------------------------
# All files are owned by Naomi
# -------------------------------------------------

* @naomi-lgbt

# -------------------------------------------------
# Negate rule above so renovate can automerge
# -------------------------------------------------

/package.json
/pnpm-lock.yaml
