name: "CodeQL"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  analyse:
    name: Analyse
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        language: ["javascript"]
        node-version: [20.x]
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      - name: Use Node.js v${{ matrix.node-version }}
        uses: actions/setup-node@5e21ff4d9bc1a8cf6de233a3057d20ec6b3fb69d # v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install dependencies
        run: pnpm install
      - name: Build files
        run: pnpm run build
      - name: Setup CodeQL
        uses: github/codeql-action/init@fdcae64e1484d349b3366718cdfef3d404390e85 # v2
        with:
          languages: ${{ matrix.language }}
      - name: Perform Analysis
        uses: github/codeql-action/analyze@fdcae64e1484d349b3366718cdfef3d404390e85 # v2
